@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: 'Sora', sans-serif;
    margin: 0;
    padding: 0;
}

/* ////////////////////////////////// */

/* Tela de "login" */

.login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 108px;
}

.welcome-title {
    margin-right: 170px;
    color: #5A5A5A;
    font-size: 15px;
    font-weight: 400;
}

.main-title {
    color: #212121;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 30px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.login-label {
    font-size: 15px;
    margin: 10px;
    color: #7E7E7E;
}

.login-input {
    width: 310px;
    height: 40px;
    border: 1px solid #E0E0E0;
    outline-color: #E0E0E0;
    border-radius: 13px;
    margin: 5px;
    padding-left: 10px;
}

input::placeholder {
    color: #c4c1c1;
    padding-left: 3px;
    font-size: 13px;
}

.login-checkbox {
    display: flex;
    gap: 85px;
    padding: 10px;
    font-size: 12px;
    font-weight: 400;
    color: #212121;
    margin-top: 1px;
    align-content: center;
}

.login-button {
    width: 310px;
    height: 40px;
    border-radius: 13px;
    margin-top: 15px;
    background-color: #482D83;
    color: #E0E0E0;
    border: none;
    cursor: pointer;
}

/* Icone para mostrar/ocultar senha */
.password-container {
    position: relative;
}

#toggle-password {
    position: absolute;
    top: 65%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}

/* ////////////////////////////////// */

.sucess {
    color: greenyellow;
    border: 1px solid greenyellow;
    border-radius: 13px;
}

.error {
    color: red;
    border: 1px solid red;
    border-radius: 13px;
}

/* ////////////////////////////////// */

/* Tela de "Mentores" */

/* Header com dados do usuário */
/*  */

.display-content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #FCFCFC;
    height: 625px;
}

.header-with-user {
    background-color: #FFFFFF;
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    width: 1135px;
    height: 100px;
    padding: 20px;
}

.page-title {
    margin: 10px 20px;
    font-weight: 600;
    font-size: 25px;
    padding: 10px;
}

/* Menu Bar*/

/* Logo "MENTOR CLASS" */
.logo {
    padding: 15px;
    margin-left: 10px;
    font-size: 25px;
}

.logo-orange {
    color: #FBB04D;
    font-weight: 300;
}

.logo-white {
    color: #FFFFFF;
    font-weight: 700;
}

/* ////////////////////////////////// */
.menu-list-item {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
    width: 180px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    margin: 5px;
    padding: 10px;
}

.menu-bar {
    background-color: #482D83;
    height: 100%;
    width: 210px;
}

.side-menu-list {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    padding: 5px;
    color: #FFFFFF;
    cursor: pointer;
}

li {
    list-style: none;
    color: #E0E0E0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

li:hover {
    background-color: #564696;
    height: 40px;
    border: 1px solid #564696;
    border-radius: 10px;
}

/* ////////////////////////////////// */

/* Header com dados do usuário */

.user-name {
    color: #212121;
    font-size: 15px;
    font-weight: 700;
}

.user-email {
    color: #868686;
    font-weight: 400;
    font-size: 12px;
}

/* Gerenciador de "Mentores" */

.edit-button {
    border-radius: 20px;
    border: 1px solid #BDBDBD;
    background-color: #FFFFFF;
    height: 30px;
    width: 30px;
}

.edit-button:hover{
    background-color: #5f92f7;
}

.delete-button {
    border-radius: 20px;
    border: 1px solid #BDBDBD;
    background-color: #FFFFFF;
    height: 30px;
    width: 30px;
}

.delete-button:hover{
    background-color: #f57878;
}

.buttons:hover {
    background-color: #ac9dec;
}

tr:nth-child(even) {
    background-color: #FAFAFA;
}

tr:nth-child(odd) {
    background-color: #F5F5F5;
}

.bk-purple {
    background-color: #482D83 !important;
}

table {
    margin-top: 1px;
    /* width: 90%; */
}

thead {
    padding: 3px;
    color: #FFFFFF;
    height: 45px;
    font-weight: 200;
    font-size: 13px;
    width: 66rem;
}

th {
    border-radius: 10px 10px 0px 0px !important;
    font-weight: 200 !important;
    font-size: 13px !important;
    text-align: center;
}

tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    width: 66rem;
    padding: 20px;
    margin: 5px;
    text-align: center; 
}

tbody {
    font-size: 12px;
}

/* ////////////////////////////////// */

/* Search bar e botão "Novo Mentor" */
.new-button {
    background-color: #00C247;
    width: 200px;
    height: 37px;    
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    color: #EFFBF4;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 5px;
}

.new-button:hover {
    background-color: #029e3b;
}

.search-and-new-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* Input de busca */
.search-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 289px;
    height: 37px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
}

.search-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/* ////////////////////////////////// */

/* Tela de Cadastro e Editar de "Mentores"*/

/* Background do Conteúdo */

.card-background {
    border-radius: 20px;
    box-shadow: 1px 1px 8px 1px #dbd6d6;
    padding: 15px;
    margin: 0px 25px;
    background-color: #FFFFFF;
}
/* ////////////////////////////////// */
hr {
    margin: 10px 10px; 
}

.back-button {
    background-color: #EEEEEE;
    width: 40px;
    height: 40px;
    border: 1px solid #EEEEEE;
    border-radius: 30px;
    margin-left: 10px;
}

.display-button-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.back-button:hover {
    background-color: #dbd9d9;
}

.card-title {
    color: #564696 !important;
    font-size: 20px;
    margin: 0px 5px;
    padding: 1px;
}

.card-background-form {
    border-radius: 20px;
    box-shadow: 1px 1px 8px 1px #dbd6d6;
    padding: 20px;
    margin: 0px 1px;
    height: 240px;
}

.display-label-input {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
}

.dFlex {
    display: flex;
}

.display-form {
    display: flex;
    flex-direction: column;
}

.save-button {
    position: fixed;
    width: 300px;
    height: 40px;
    border: 1px solid #482D83;
    background-color: #482D83;
    border-radius: 10px;
    color: #FFFFFF;
    margin: 100px 10px;
    font-family: 'Poppins', sens-serif;
    font-weight: 500;
}

.save-button:hover {
    background-color: #3f2772;
}

.label {
    color: #757575;
    margin: 7px 0px;
    font-size: 15px;
}

input {
    font-size: 12px;
    color: #757575 !important;
}

.custom-input-select {
    color:#c4c1c1 !important; 
    padding-left: 3px; 
    font-size: 13px;
}

.form-input {
    width: 300px;
    height: 40px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    color: #757575;
    padding: 4px;
    outline: none;
}
/* ////////////////////////////////// */

/* "Mentorias" */

/* Tela de Cadastro e Editar de "Mentorias" */

.larger-input {
    width: 300px;
    height: 40px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    color: #757575;
    padding: 10px;
    outline: none;
}

.smaller-input {
    width: 201px;
    height: 40px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    color: #757575;
    padding: 10px;
    outline: none;
}

.select-field {
    width: 300px;
    height: 40px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    color: #757575;
    padding: 10px;
    outline: none;
}

.smaller-select-field {
    width: 200px;
    height: 40px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    color: #757575;
    padding: 10px;
    outline: none;
}

.save-button-mentorship {
    width: 225px;
    height: 35px;
    border: 1px solid #482D83;
    background-color: #482D83;
    border-radius: 10px;
    color: #FFFFFF;
    margin: 0px 15px;
    font-style: 'Poppins', sans-serif;
}

/* Toggle de Ativo/Inativo (esse me deu trabalho kkkkk)*/
.toggle-active{
    background-color: #D9FEE6;
    color: #00C247;
    padding: 6px;
    border-radius: 7px;
    margin: 10px;
    width: 70px;
    height: 30px;
}

.toggle-inactive{
    background-color: #FFE1E1;
    color: #FF3333;
    padding: 6px;
    border-radius: 7px;
    margin: 10px;
    width: 70px;
    height: 30px;
}

.toggle {
    position: relative;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px; 
    overflow: hidden;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px; 
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
  }
  
  #toggle-input {
    display: none;
  }
  
  #toggle-input:checked + .toggle-label {
    transform: translateX(100%);
    background-color: #00C247;
  }
  
/* ////////////////////////////////// */
.display-toggle {
    display: flex;
    align-items: center;
}

/* ////////////////////////////////// */

.widthTh{
    width: 27%;
}

/* ////////////////////////////////// */
/* Turmas */
.display-inputs {
    display: flex;
}

.display-labels-inputs{
    margin: 5px 10px 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5px;
}

.save-button-classes{
    width: 300px;
    height: 40px;
    border: 1px solid #482D83;
    background-color: #482D83;
    border-radius: 10px;
    color: #FFFFFF;
    margin-top: 25px;
    font-family: 'Poppins', sens-serif;
    font-weight: 500;
}

/* ////////////////////////////////// */