@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Sora', sans-serif; 
    margin: 0;
}

/* ////////////////////////////////// */

/* Estilização do "login" */

.login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 150px;
}

.title-welcome {
    margin-right: 170px;
    color: #5A5A5A;
    font-size: 15px;
    font-weight: 400;
}

.main-title {
    color: #212121;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 30px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.login-label {
    font-size: 15px;
    margin: 10px;
    color: #7E7E7E;
}

.login-input {
    width: 310px;
    height: 40px;
    border: 1px solid #E0E0E0;
    outline-color: #E0E0E0;
    border-radius: 13px;
    margin: 5px;

}

input::placeholder {
    color: #BDBDBD;
    padding: 10px;
}

.login-checkbox {
    display: flex;
    gap: 85px;
    padding: 10px;
    font-size: 12px;
    font-weight: 400;
    color: #212121;
    margin-top: 1px;
}

.login-button {
    width: 310px;
    height: 40px;
    border-radius: 13px;
    margin-top: 15px;
    background-color: #482D83;
    color: #E0E0E0;
    border: none;
}

/* ////////////////////////////////// */


/* Estilização da tela de "Mentores" */


.display-content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #FCFCFC;
}

.header-with-user {
    background-color: #FFFFFF;
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    width: 1135px;
    height: 100px;
    padding: 20px;
}

.content {
    padding: 10px;
    background-color: #FCFCFC;
}

.page-title {
    margin-top: 5px;
    font-weight: 600;
    font-size: 25PX;
}

/* MENU BAR */

/* LOGO "MENTOR CLASS" */
.logo {
    padding: 15px;
    margin-left: 5px;
    font-size: 25px;
}

.logo-orange {
    color: #FBB04D;
    font-weight: 300;
}

.logo-white {
    color: #FFFFFF;
    font-weight: 700;
}

/* ////////////////////////////////// */
.menu-bar {
    background-color: #482D83;
    height: 615px;
    width: 210px;
}

.side-menu-list {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    padding: 5px;
    color: #FFFFFF;
}

/* ////////////////////////////////// */

.user-name {
    color: #212121;
    font-size: 15px;
    font-weight: 700;
}

.user-email {
    color: #868686;
    font-weight: 400;
    font-size: 12px;
}

li {
    list-style: none;
    color: #E0E0E0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

li:hover {
    background-color: #564696;
    /* width: 200px; */
    height: 40px;
    border: 1px solid #564696;
    border-radius: 10px;
}

.buttons {
    border-radius: 20px;
    border: 1px solid #BDBDBD;
    background-color: #FFFFFF;
    height: 30px;
    width: 30px;
}

table {
    margin-top: 20px;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 10px;
    -moz-border-radius: 5px;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #FAFAFA;
}

tr:nth-child(odd) {
    background-color: #F5F5F5;
}

tr:first-child {
    padding: 10px;
    background-color: #482D83;
    color: #FFFFFF;
    font-weight: 200;
    display: flex;
    justify-content: space-evenly;
}

tr {
    display: flex;
    /* justify-content: space-between; */
    gap: 7rem;
    align-items: center;
    margin: 10px;
    padding: 5px;
    font-size: 12px;
}

td {
    margin: 1px;
}

.new-button {
    background-color: #00C247;
    width: 200px;
    height: 35px;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    color: #EFFBF4;
    font-weight: 400;
    font-size: 15px;
}

.search-and-new-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Input de busca */
.search-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px;
  }

  .search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 14px;
  }

  .search-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  /* ////////////////////////////////// */

.card-background {
    border-radius: 20px;
    box-shadow: 1px 1px 8px 1px #dbd6d6;
    height: 250px;
    padding: 20px;
    margin: 0px 15px;
}

.input {
    width: 325px;
    height: 40px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    color: #757575;
    padding: 5px;
    outline: none;
}

/* ////////////////////////////////// */

tbody {
    width: 100%;
}

.menu-list-item {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: flex-start;
    align-items: center;
    /* background-color: #564696; */
    /* border: 1px solid #564696; */
    width: 180px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    margin: 5px;
    padding: 10px;
}

/* Tela de Cadastro */
.back-button {
    background-color: #EEEEEE;
    width: 40px;
    height: 40px;
    border: 1px solid #EEEEEE;
    border-radius: 30px;
    margin-right: 10px;
}

.display-button-title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.card-title {
    color: #564696 !important;
    font-size: 20px;
}

.display-label-input {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
}

.display-form {
    display: flex;
}

.save-button {
    width: 325px;
    height: 35px;
    border: 1px solid #482D83;
    background-color: #482D83;
    border-radius: 10px;
    color: #FFFFFF;
    margin: 0px 15px;
    font-family: 'Sora', sens-serif;
}

/* ////////////////////////////////// */

/* Tela de Editar de Mentorias */
.input-title-mentorship {
    width: 400px;
    height: 40px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    color: #757575;
    padding: 5px;
    outline: none;
}

.save-button-mentorship {
    width: 225px;
    height: 35px;
    border: 1px solid #482D83;
    background-color: #482D83;
    border-radius: 10px;
    color: #FFFFFF;
    margin: 0px 15px;
}

.toggle-status {

}

/* ////////////////////////////////// */

/* Toggle */
.toggle-label {
    display: inline-block; 
    width: 50px;
    height: 25px;
    border-radius: 25px;
    background-color: #ccc;
    position: relative;
    cursor: pointer;
  }
  
  .toggle-label:before {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.2s;
  }
  
  #toggle:checked + .toggle-label:before {
    transform: translateX(25px);
  }
  
/* ////////////////////////////////// */